[submodule "hw0"]
	path = hw0
	url = https://github.com/chaos-ad/dlsyscourse-hw0.git
[submodule "hw1"]
	path = hw1
	url = https://github.com/chaos-ad/dlsyscourse-hw1.git
[submodule "hw2"]
	path = hw2
	url = https://github.com/chaos-ad/dlsyscourse-hw2.git
[submodule "hw3"]
	path = hw3
	url = https://github.com/chaos-ad/dlsyscourse-hw3.git
[submodule "hw4"]
	path = hw4
	url = https://github.com/chaos-ad/dlsyscourse-hw4.git
